---
//大前提として、子の[menuId].astroのtsが動く。その後にインポートしたタイプスクリプトが動く。
import BaseLayout from "../../layout/BaseLayout.astro";
import {newMenuList} from "../../dataFactory"

//getStaticPaths()の戻り値配列各要素のオブジェクト型を指定
//ReturnArrayItem 型はparams というプロパティを持っていて、中にはmenuId（文字列）が入っている
interface ReturnArrayItem{
  params: {
    menuId: string
  }
}

//大前提として、Astroはデータからではなく、データからではなく、URLからページを作る。だから、valueのidではなく、keyからとる。
//静的パスの指定
//getSaticPathsは、ビルド時に静的HTMLとして生成（SSG）するための関数
export function getStaticPaths() {
  //ReturnArrayItemという型を作り、中身が[]なので０である
  //この関数の戻り値配列をからの配列として用意。各要素をReturnArrayItem型とする
  const returnArray: ReturnArrayItem[] = [];
  //newMenuListをループ処理しながら、戻り値配列に各要素を追加
  newMenuList.forEach(
    //この3つは引数で、valueは中身なので、{ id: 22345, name: "スパイシーチャイ", price: 700 }　keyは22345、mapはmapオブジェクト自体。
    (value, key, map) => {
      //mapオブジェクト自体。これはループ中に中身を参照したい時に使う
      //pushは1個追加する意味を持つ元々から配列なので、1個ずつ足していくイメージ
      //最初の interfaceのところでこういう形で返せと指定してるからこの形になってる
      //parmasはastroの動的ルーティング用に決められてる箱（元々の）
      //parmasは文字列出ないとダメである。keyは数字なので、それを文字列に変える必要がある。String()とやると文字列にできる
      returnArray.push({params: {menuId: String(key)}})
    }
  );
  //戻り値配列をリターン
  return returnArray;
}
//下の3つは、URL → データ → タイトル文字列 に変換する流れ
//ルートパラメーターmenuIdの取得
const {menuId} = Astro.params;
//menuIdに該当する新着メニューデータオブジェクトを取得
// URLは、数字のデータでなければならない。
const newMenuItem = newMenuList.get(Number(menuId))
//nameを取得
const subTitle = `${newMenuItem?.name} |`;
---

<BaseLayout
subTitle={subTitle}>
 <h2>新着メニュー<h2/>
  <section>
    <h3>{newMenuItem?.name}<h3>
      <p>
        新しいメニューである{newMenuItem?.name}はいかがですが？<br>
        金額は{newMenuItem?.price}です。
      </p>
  </section>
  <a href="/newMenus">新着メニュー一覧へ</a>
</BaseLayout>
